*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.div{
    background-color: blue;
    height: 150px;
    width: 150px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation-name: animation-x;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
@keyframes xk-animation {
    from {
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg)
    }
}
@keyframes animation-x {
    from {
        transform: translateX(0%);
    }
    to{
        transform: translateX(100%);
    }
}