// $very_light_pink:#c7c7c7;
// $white:#ffffff;
// $text_input_field:#f7f7f7;
// $black: #000000;
// $hospital_green:#acd9b2;
// $dark:#232830;

@import 'variables';
@import 'estilos_globales';

.container-card{
    display: grid;
    grid-template-columns: repeat(auto-fill,240px);
    gap: 1.6rem;
    justify-content: center;
    align-content: center;
    .card{
        width: 24rem;
        img{
            width: 100%;
            object-fit: contain;
            border-radius: 0.8rem;
        }
    .card-datos{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.6rem;
    }
    .card-parrafos{
        p:nth-child(1){
            font-size: $md;
            font-weight: bold;
        }
        p:nth-child(2){
            font-size: $md;
            font-weight: 500;
            color: $very_light_pink;
        }
    }
        picture{
            background-color: $hospital_green;
            border-radius: 50%;
            width: 4.5rem;
            img{
                width: 100%;
            }
        }
    }
}

@media (max-width:640px) {
    .container-card{
    grid-template-columns: repeat(auto-fill,140px);   
    .card{
        width: 14rem;
    }
}
}